.jumbotron{
    background: url("hero-backdrop.jpg") no-repeat center;
    background-size:100%;
    color:white;
}

#FGC-Notebook{
    width: 50%;
}
#Visioned-Kreations{
    width:65%;
}
.card{
    h2{
        color: white;
    }
    a{
        padding-right: 45px;
    }
    background:black;
    flex-direction: row;
    width: 55%;
    border: 2px solid white;
    padding-bottom: 5px;
}

body{
    background:black;
    color:white;
}